body {
    margin: 0 auto !important;
}

main {
    position: relative;
}

.stats {
    min-height: 300px;
}

canvas {
    width: 100% !important;
    height: 275px !important;
}

.salesTitles {
    width: 100%;
}

.salesTitles h6 span {
    font-weight: bold;
    padding: 0% !important;
    margin: 0% !important;
}


.salesTitles h6 {
    /*    width: 100%;*/
    font-size: 1em !important;
    padding: 0% !important;
    margin: 0% !important;
    float: right;
}

.salesTitles h4 {
    padding-top: 0% !important;
    margin-top: 0%;
    float: right;

}

.salesStats {
    clear: both;
    padding-top: 15%;

}

.salesStats h3 {

    font-weight: 100;
    line-height: 1em;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
}

.salesStats h3:nth-of-type(2) {
    margin-top: 15% !important;
}

.salesStats h6 {
    padding: 0%;
    margin: 0%
}

.update i,
.update h6 {
    float: right
}

.update h6,
.update i,
.analysis h6 {
    padding: 0% !important;
    margin: 0 auto
}


.meter {
    clear: both;
}



.mdl-chip {
    /*    display: inline-block;*/
    width: 100%;
    padding: 0 !important;
    height: 16px !important;
}

span.mdl-chip__contact.movie1Bar {
    width: 10%;
    padding: 0% !important;
    margin: 0 !important;
    height: inherit;
    vertical-align: baseline;

}

span.mdl-chip__contact.movie2Bar {
    width: 45%;
    padding: 0% !important;
    margin: 0 !important;
    height: inherit;
    vertical-align: baseline;

}

.analysis span {
    font-weight: bold;
}



.meter > span {
    width: 100%;
}

.meter {
    height: 20px;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(43, 184, 83);
    background-image: linear-gradient( center bottom, rgb(43, 194, 83) 38%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.orange > span {
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
    background-color: #f0a3a3;
    background-image: linear-gradient(to bottom, #f0a3a3, #f0a3a3);
}

.movie {
    min-height: 300px !important;
    clear: both;
}

/*
.movie.mdl-card{
    clear:both;
}
*/

.movieCard {
    min-width: 300px !important;
    margin: 0 auto;
}

.movie .mdl-card {
    /*    width:450px;*/
    min-height: 300px;
}

.movie h4,
.movie button {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20%;
    float: left;
}

.thankYou {
    display: block;
    margin: 0 auto;
    position: absolute;
}

dialog {
    overflow: hidden;
    height: auto;
    text-align: center;
}

img{
    display: block;
    width:100px;
    height:100px;
    margin-left: auto;
    margin-right: auto;
}
.slideOut {

    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    margin-left: 120% !important;

}

#twoBefore, #twoContentsBefore {
    display: none;
}

.twoContentsAfter{
    animation: dollarDown;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
/*    animation-delay: 2s;*/
    animation-fill-mode: forwards;
}
.twoAfter {
    display: block;
    animation: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
/*    animation-delay: 2s;*/
    animation-fill-mode: forwards;

}

dialog form div {
    padding-bottom: 15% !important;
}
dialog form label {
    font-size: 1.2em !important;
}


@keyframes slideOut {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    10% {
        transform: translateY(-75%)
    }
    20% {
        transform: translateY(-50%);
    }
    30% {
        transform: translateY(-25%);
    }
    40% {
        transform: translateY(-20%);
    }
    45% {
        transform: translateY(-10%)
    }
    50% {
        transform: translateY(-5%);
    }
    55% {
        transform: translateY(0%);
    }
    60% {
        transform: translateY(5%)
    }
    70% {
        transform: translateY(0%);
    }
    80% {
        transform: translateY(5%);
    }
    90% {
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes dollarDown{
    0%{
        transform: translateY(-50%);
        
    }
    
    50%{
        transform: translateY(10%);
    }
    75%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(10%);
    }
    
}

@media(min-width:600px) and (max-width:1297px) {

    .salesStats {
        clear: both;
        /*    padding-top:1%;*/
    }

    .salesTitles h6,
    .salesTitles h4 {
        float: left;
        width: 100%;
    }

    


}

@media(min-width: 500px) and (max-width:599px) {
    .movie button {
        width: 100%;
    }
    .salesTitles h6,
    .salesTitles h4 {
        float: left;
    }
}

@media(min-width:320px) and (max-width:499px) {

    .update i,
    .update h6 {
        float: left;
    }
    .salesTitles h4 {
        float: left;
    }


    .movie h4,
    .movie button {
        padding-bottom: 0%;
    }

    .movie button {
        width: 60%;
        height: 50px;
    }
    
    canvas{
        height: 250px !important;
    }
    

}
