<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--16dp"><div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">

                        <h2 class="header-text__h2">Total Movie Sales</h2>
                        <h4 class="header-text__h4">{{$ctrl.movies[0].title}} vs {{$ctrl.movies[1].title}}</h4>
                        <canvas id="myChart"></canvas></div>
                    <div class="sales mdl-cell  mdl-cell--5-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                        <div class="movie-sales-header">
                            <h6 class="movie-sales-header__h6">Average number of sales in the past month in: <span class="movie-sales-header__span">United States</span></h6>
                            <h4 class="movie-sales-header__h4"><span>All sales: 162,884</span></h4>
                        </div>
                        <div class="movie-sales-progress-bars">
                            <h3 class="movie-sales-progress-bars__h3">{{$ctrl.movies[0].weekSales}}</h3>
                            <h6 class="movie-sales-progress-bars__h6">Total orders - {{$ctrl.movies[0].title}}</h6>
                            <span class="mdl-chip mdl-chip--contact">
                                <span class="progress-bar-one mdl-chip__contact mdl-color--grey"></span>
                            </span>

                            <h3 class="movie-sales-progress-bars__h3 movie-sales-progress-bars__h3-secondary">{{$ctrl.movies[1].weekSales}}</h3>
                            <h6 class="movie-sales-progress-bars__h6">Total orders - {{$ctrl.movies[1].title}}</h6>
                            <span class="mdl-chip mdl-chip--contact">
                                <span class="progress-bar-two mdl-chip__contact mdl-color--teal"></span>
                            </span>
                        </div>

                    </div>
                    <div class="movie-sales-footer-text mdl-cell mdl-cell--8-col-desktop mdl-cell--12-col-phone">
                        <h6 class="movie-sales-footer-text__h6"><span class="movie-sales-footer-text__span">Analysis of sales:</span> The value has changed over the time, and last month reached a level over $50,000</h6>
                    </div>
                    <div class="movie-sales-footer-text update mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-phone"><span><i class="material-icons movie-sales-footer-text__icon">update</i><h6 class="movie-sales-footer-text__h6--secondary"> Update of on 16.07.2015</h6></span></div>

                </div></div>